@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.App {
 min-width: 100vw;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: rgb(247, 247, 247);
}

#titleSection{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 100%;
  height: 17vmin;
  box-shadow: rgb(176, 176, 176) 2px 2px 8px;
}

h1{
  font-size: 6vmin;
}

#title{
  margin-left: 5vmin;
}

#save{
  margin-right: 5vmin;
  cursor: pointer;
}





